html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background: url(sunset.jpg) no-repeat;
  background-size: cover;
  font-family: system-ui, helvetica, arial, sans-serif;
  height: 96vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vh;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2.5rem;
}
h1, h2 {
  margin: 0;
  font-family: 'Caveat', cursive;
}
a {
  color: #444;
}
a:hover {
  text-decoration: none;
}
.container {
  width: 450px;
  text-align: center;
  padding: 50px 30px;
  background: rgba(162, 92, 84,.8);
  line-height: 1.25;
  color: #444;
}
.credits {
  margin: 30px 0 0;
  font-size: 0.75rem;
}
